html, body {
    height: 100%;
    margin: 0;
    background-color: rgba(129, 175, 221, 0.42);
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    padding-bottom: 60px; /* Отступ для футера, чтобы он не перекрывался */
    overflow: auto; /* Добавим прокрутку в случае переполнения */
}


h1, h3 {
    text-align: center;
}

p {
    margin: 1px;
}

.product-container {
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-container h1 {
    text-align: center;
    color: #333;
}


.product-table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    margin-bottom: 20px;
}

.product-table td img {
    max-width: 100%;
    height: auto;
}

.product-table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

.product-table th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

.product-table .label {
    font-weight: bold;
    text-align: right;
    width: 30%;
    color: #555;
}

.create-product-button {
    /*font-size: 1.2em;*/
    padding: 10px 20px;
    margin-bottom: 15px;
    background-color: #4c9daf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.create-product-button:hover {
    background-color: #127a8c;
}


button {
    background-color: #4c9daf; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px 15px; /* Отступы внутри кнопки */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Закругленные углы у кнопки */
    cursor: pointer; /* Указатель для курсора */
}

button:hover {
    background-color: #127a8c; /* Цвет кнопки при наведении */
}


.delete-button {
    background-color: #e74c3c; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px 15px; /* Отступы внутри кнопки */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Закругленные углы у кнопки */
    cursor: pointer; /* Указатель для курсора */
}

.delete-button:hover {
    background-color: #c0392b;
}

.cancel-button {
    background-color: #dcd362; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px 15px; /* Отступы внутри кнопки */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Закругленные углы у кнопки */
    cursor: pointer; /* Указатель для курсора */
}

.cancel-button:hover {
    background-color: #ddb730;
}

.back-button {
    display: inline-block; /* Отображение как блочный элемент */
    margin-top: 20px; /* Отступ сверху для кнопки возврата */
    text-decoration: none; /* Убираем подчеркивание */
    color: #4c9daf; /* Цвет текста #e74c3c */
}

.back-button:hover {
    color: #127a8c;
}


/* Ошибки */
.error {
    color: red;
    font-size: 0.9em;
}

.form-container {
    width: 40%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


label {
    font-weight: bold; /* Сделайте метки жирными */
    margin-top: 10px; /* Отступ сверху для меток */
}

div {
    margin-bottom: 15px; /* Отступ снизу для блоков */
}

input, textarea, select {
    width: 100%; /* Ширина полей на 100% */
    padding: 10px; /* Отступы внутри полей */
    border: 1px solid #ced4da; /* Цвет границы */
    border-radius: 4px; /* Закругленные углы у полей */
    box-sizing: border-box; /* Учет отступов и границ в ширине */
}

input:focus, textarea:focus, select:focus {
    border-color: #4c9daf; /* Цвет границы при фокусе */
    outline: none; /* Убираем обводку при фокусе */
}

.delete-container {
    display: flex;
    justify-content: space-between; /* Размещает кнопки по разным сторонам */
    align-items: center;  /* Выравнивание по вертикали */
}

.align-right {
    margin-left: auto; /* Перемещает кнопку вправо */
    /*margin-right: 0;  !* Убирает отступ справа *!*/
    /*margin-bottom: 0;*/
}

/*img {*/
/*        max-width: 100%;  !* Ограничиваем ширину изображения до 100% родительского контейнера *!*/
/*        height: auto;     !* Сохраняем пропорции *!*/
/*    }*/